@import "./theme.scss";

body {
  color: var(--text-100);
  background-color: var(--bg-100);
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.primary {
  color: var(--text-100);
  background-color: var(--primary-100);
  transition: background-color .2s ease-in-out, color .2s ease-in-out;

  &:hover {
    background-color: var(--primary-110);
  }
}
