@import './animation.scss';
@import './layout.scss';

// reset
html {
  box-sizing: border-box;
}

*:not(input) {
  border: 0;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*[hide] {
  display: none;
}

*[disabled] {
  opacity: .5;
  pointer-events: none;
}

li {
  list-style: none;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

html {
  // 滚动条样式
  ::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #c1c1c1cd;

    &:hover {
      background-color: #a8a8a8aa;
    }

    &:active {
      background-color: #828080e4;
    }
  }

  & {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1d4 rgba(238, 238, 238, 0.908);
  }
}

.body-lock-scroll {
  overflow: hidden;
}

.user-popover {
  padding: 6px 8px 2px 8px !important;
}
