
[data-theme=light] {
  --primary-100-h: 231;
  --primary-100-s: 48%;
  --primary-100-l: 48%;

  --primary-200-h: 236;
  --primary-200-s: 71%;
  --primary-200-l: 68%;

  --primary-300-h: 240;
  --primary-300-s: 100%;
  --primary-300-l: 94%;

  --accent-100-h: 207;
  --accent-100-s: 90%;
  --accent-100-l: 54%;

  --accent-200-h: 214;
  --accent-200-s: 100%;
  --accent-200-l: 28%;

  // text
  --text-100-h: 0;
  --text-100-s: 0%;
  --text-100-l: 20%;

  --text-200-h: 0;
  --text-200-s: 0%;
  --text-200-l: 36%;

  // bg
  --bg-100-h: 0;
  --bg-100-s: 0%;
  --bg-100-l: 100%;

  --bg-200-h: 0;
  --bg-200-s: 0%;
  --bg-200-l: 96%;

  --bg-300-h: 0;
  --bg-300-s: 0%;
  --bg-300-l: 80%;
}

[data-theme=dark] {
  --primary-100-h: 215;
  --primary-100-s: 51%;
  --primary-100-l: 25%;

  --primary-200-h: 218;
  --primary-200-s: 29%;
  --primary-200-l: 43%;

  --primary-300-h: 220;
  --primary-300-s: 68%;
  --primary-300-l: 81%;

  --accent-100-h: 214;
  --accent-100-s: 35%;
  --accent-100-l: 37%;

  --accent-200-h: 208;
  --accent-200-s: 100%;
  --accent-200-l: 90%;

  // text
  --text-100-h: 0;
  --text-100-s: 0%;
  --text-100-l: 100%;

  --text-200-h: 0;
  --text-200-s: 0%;
  --text-200-l: 88%;

  // bg
  --bg-100-h: 215;
  --bg-100-s: 51%;
  --bg-100-l: 12%;

  --bg-200-h: 217;
  --bg-200-s: 33%;
  --bg-200-l: 18%;

  --bg-300-h: 218;
  --bg-300-s: 23%;
  --bg-300-l: 28%;
}

:root {
  --primary-100: hsl(var(--primary-100-h), var(--primary-100-s), var(--primary-100-l));
  --primary-110: hsl(var(--primary-100-h), var(--primary-100-s), calc(var(--primary-100-l) - 5%));
  --primary-120: hsl(var(--primary-100-h), var(--primary-100-s), calc(var(--primary-100-l) + 5%));
  --primary-200: hsl(var(--primary-200-h), var(--primary-200-s), var(--primary-200-l));
  --primary-300: hsl(var(--primary-300-h), var(--primary-300-s), var(--primary-300-l));

  --accent-100: hsl(var(--accent-100-h), var(--accent-100-s), var(--accent-100-l));
  --accent-200: hsl(var(--accent-200-h), var(--accent-200-s), var(--accent-200-l));

  --text-100: hsl(var(--text-100-h), var(--text-100-s), var(--text-100-l));
  --text-200: hsl(var(--text-200-h), var(--text-200-s), var(--text-200-l));

  --bg-100: hsl(var(--bg-100-h), var(--bg-100-s), var(--bg-100-l));
  --bg-200: hsl(var(--bg-200-h), var(--bg-200-s), var(--bg-200-l));
  --bg-300: hsl(var(--bg-300-h), var(--bg-300-s), var(--bg-300-l));
}
